<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
</head>
<body>
  <form action="/registration" method="post">
    <table>
      <tr>
        <td>Player 1</td>
        <td><input type="text" name="1"></td>
      </tr>
      <tr>
        <td>Player 2</td>
        <td><input type="text" name="2"></td>
      </tr>
      <tr>
        <td>Player 3</td>
        <td><input type="text" name="3"></td>
      </tr>
    </table>
    <input type="submit">
  </form>
</body>
</html>